:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #23272f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #23272f;
}

h1 {
  font-size: 3.2em;
  margin-top: 0;
  margin: 0;
  padding: 20px;
}

.bi-browser-firefox {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

button {
  font: 1em sans-serif;
  font-size: large;
  font-weight: 600;
  color: rgb(4, 0, 255);
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border-radius: 3em;
  border-style: outset;
}

nav {
  width: auto;
  height: auto;
  background-color: #497de6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-top: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

* {
  box-sizing: border-box;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23272f;
}

.download a {
  text-decoration: inherit;
}

.download a button {
  display: flex;
  padding: 18px;
  width: auto;
  height: auto;
  background-color: #497de6;
  border-radius: 10px;
  margin-right: 30px;
  align-items: end;
}

.download a button:hover {
  background-color: #d32f2f;
  scale: 1.1;
}

.guide {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background-color: #23272f;
}

#home{
  font-size: 40px;
  text-align: center;
}
.side {
  grid-area: side;
  text-align: center;
  font-size: x-large;
}
.body { 
  grid-area: body; 
}


button:active,
button:hover,
button:focus {
  background-color: #d32f2f; /* Color rojo oscuro */
  border-radius: 3em !important;
}


/* Estilo normal del cursor */
html,body {
  cursor: url(cursor0.png), auto;
}

/* Primer estado del cursor */
button, a, label {
  cursor: url(cursorIndicador1.png), auto;
}

/* Segundo estado del cursor */
button, a, label {
  cursor: url(cursorIndicador2.png), auto;
}

/*resposive section*/
@media only screen and (max-width:480px) {
  .nav-bar
  {
    margin-left: 9px;
  }
  h1 {
    text-align: center;
    font-size: 290%;
  }
  .download{
    position: relative;
    align-items: center;
    flex-direction: column;
    left: 15px;
  }
  .download a button{
   margin-bottom: 35px;
  }
}

@media only screen and (min-width:415px) {
  .nav-bar
  {
    margin-left: 0px;
  }
  h1 {
    text-align: center;
    font-size: 290%;
  }
}

@media only screen and (width: 540px) and (height: 720px) {
  .nav-bar {
    margin-left: 9px;
  }
  h1 {
    text-align: center;
    font-size: 290%;
  }
  .download{
    position: relative;
    align-items: center;
    flex-direction: column;
    left: 15px;
  }
  .download a button{
    margin-bottom: 35px;
   }
}

@media only screen and (width: 540px) and (height: 720px) {
  .nav-bar {
    margin-left: 9px;
  }
  h1 {
    text-align: center;
    font-size: 290%;
  }
  .download{
    position: relative;
    align-items: center;
    flex-direction: column;
    left: 15px;
  }
  .download a button{
    margin-bottom: 35px;
   }
}

/*iphne SE*/
@media only screen and (width: 375px) and (height: 667px) {
  h1 {
    font-size: 200%;
  }
  .download{
    position: relative;
    margin-left: 30px;
  }
  .download a button{
    margin-bottom: 25px;
    margin-right: 60px;
   }

   .download a{
    height: 95px;
   }
}
/*sm-s8*/
@media only screen and (width:360px) and (height:740px){
  h1 {
    text-align: center;
    font-size: 290%;
  }
  .download{
    position: relative;
    align-items: center;
    flex-direction: column;
    left: 13px;
  }
  .download a button{
   margin-bottom: 25px;
  }
}
/*galaxy fold*/
@media only screen and (width:280px) and (height:653px){
  h1 {
    text-align: center;
    font-size: 200%;
    justify-content: center;
  }
  .download{
    position: relative;
    align-items: center;
    flex-direction: column;
    left: 13px;
  }
  .download a button{
   margin-bottom: 25px;
  }
  .nav-bar {
    margin-left: 10px;
}
}